node_modules/*

image-cache/*
!image-cache/README.md

media/*
!media/README.md

save/*.json

package-lock.json
.DS_Store

modules/ffmpeg/*
!modules/ffmpeg/README.md
.vscode/*

test.json

*.logs
*.log
*.db