.login-overlay {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
  z-index: 9;
}

.login-form {
  margin-top: 45px;
}

.login-header {
  margin-top: 88px;
}

@media screen and (min-width: 640px){
  .login-form {
    margin-top: 55px;
  }
}

@media screen and (max-width: 640px){
  .login-header {
    margin-top: 55px;
  }
}

.login-input {
  width: 100%;
  border-radius: 0px !important;
}

#login-submit {
  margin-top: 15px;
  width: 160px;
}

.login-group {
  margin-top: 15px;
}

.hide {
  display: none;
}

.main {
  margin: 0;
  padding: 0;
  width: 100%;
  height: calc(100% - 41px);
  position: fixed;
}

.nav-col {
  float: left;
  width: 150px;
  height: 100%;
  background-color: #222222;
}

.main-col {
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
  height: 100%;
  width: calc(50% - 75px);
  background-color: #fff7e5;
  overflow-y: auto;
}

.second-col {
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
  height: 100%;
  width: calc(50% - 75px);
  background-color: lightcyan;
  overflow-y: auto;
}

.nav-item {
  cursor: pointer;
}

.pure-menu-selected {
  background-color: #1f8dd6;
  color: #fff;
}

.pure-menu-selected a {
  color: #fff !important;
}
.pure-menu a:hover {
  background: #333;
}

.pure-menu a:focus {
  background: none;
}
.pure-menu-selected a:hover {
  background: none;
}
.pure-menu-selected a:focus {
  background: none;
}

.item-header {
  font-weight: bold;
  font-size: 18px;
}

.pure-menu-item {
  height: auto;
}
.pure-menu-link {
  color: #9f9f9f;
  padding: 0.625em 1em;
  letter-spacing: 0.01em;
}
.pure-menu-heading {
  color: #fff;
  font-size: 125%;
  font-weight: 300;
  padding-left: 16px;
  letter-spacing: 0.1em;
}

body {
  /* ...or body.dialogShowing */
  overflow: hidden;
}
html, body {
  margin: 0px;
  padding: 0px;
  border: 0px;
  min-height: 100vh;
}

.drag-handle, .drag-handle-image {
  height: 25px;
  width: 25px;
  cursor: move;
  float: left;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

header{
  min-height: 40px;
  border-bottom: 1px solid #333;
  background-color: #333333;
}

.collection-item:hover{
  background-color: #9397cd;
}

.collection-item{
  cursor: pointer;
  min-height: 30px;
}